.tituloPrincipal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal {
    background: #64e045;
    padding: 20px;
}

.Titulo-centralizado  {
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: #af5151;
    padding: 20px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}